.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  &__logo {
    display: block;
    width: 160px;
    &:hover {
      opacity: 0.5;
    }
  }

  .list {
    display: flex;
    align-items: center;

    &__item {
      margin: 10px 30px;
    }

    &__link {
      text-decoration: none;
      color: #ffffff;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
